/Client/cmake-build-debug/.ninja_deps
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeRCCompiler.cmake
/Client/cmake-build-debug/.cmake/api/v1/reply/cache-v2-7f3222f82c098bf431dd.json
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeSystem.cmake
/Client/cmake-build-debug/.ninja_log
/.idea/misc.xml
/Client/cmake-build-debug/cmake_install.cmake
/Client/cmake-build-debug/build.ninja
/Client/cmake-build-debug/CMakeFiles/cmake.check_cache
/Client/cmake-build-debug/CMakeFiles/rules.ninja
/Client/cmake-build-debug/CMakeFiles/clion-environment.txt
/Client/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeCCompiler.cmake
/Client/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
/Client/cmake-build-debug/.cmake/api/v1/query/cache-v2
/Client/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-64aa547d1903328147ed.json
/Client/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-73f1aba0fb6a15ac22c5.json
/Client/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-6241af68885d0992f935.json
/Client/cmake-build-debug/CMakeFiles/TargetDirectories.txt
/Client/cmake-build-debug/CMakeCache.txt
/Client/cmake-build-debug/Testing/Temporary/LastTest.log
/Client/cmake-build-debug/.cmake/api/v1/reply/target-Client-Debug-375d89364e4d9672e1e9.json
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_CXX.bin
/.idea/vcs.xml
/Client/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/a.exe
/Client/cmake-build-debug/CMakeFiles/Client.dir/main.cpp.obj
/Client/cmake-build-debug/.cmake/api/v1/reply/index-2025-01-13T09-29-56-0067.json
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeCXXCompiler.cmake
/Client/cmake-build-debug/CMakeFiles/3.30.5/CMakeDetermineCompilerABI_C.bin
/Client/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/CMakeCXXCompilerId.cpp
/Client/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdC/CMakeCCompilerId.c
/Client/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/Client/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/Client/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/Client/cmake-build-debug/Client.exe
/Client/cmake-build-debug/CMakeFiles/3.30.5/CompilerIdCXX/a.exe
/Client/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
/.idea/inspectionProfiles/profiles_settings.xml
/Client/.idea/vcs.xml
/Client/.idea/editor.xml
/Client/.idea/misc.xml
/Client/.idea/workspace.xml
/Client/.idea/modules.xml
/Client/.idea/Client.iml